.podcast-detail-view {
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem 1rem;

  display: grid;
  gap: 2rem;
}

.podcast-detail-header {
  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;
  background: #ffffff;
  padding: 1.5rem;
  box-shadow: 0 1px 5px rgb(0 0 0 / 0.19);
}

.podcast-detail-title {
  margin: 0;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.podcast-detail-list {
  margin-top: 1.5rem;
}

@media (min-width: 640px) {
  .podcast-detail-view {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .podcast-detail-view {
    grid-template-columns: 280px 1fr;
    padding-right: 2rem;
    padding-left: 2rem;
  }
}